## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_val = application_df['CLASSIFICATION'].value_counts()
class_val

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_val_1 = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]
class_val_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_val[class_val<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop("IS_SUCCESSFUL", axis = 1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_test, X_train, y_test, y_train = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer1 = 8
hidden_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=input_features, units=hidden_layer1,activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 432

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 483 (1.89 KB)
Trainable params: 483 (1.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
268/268 [==============================] - 1s 2ms/step - loss: 0.6770 - accuracy: 0.6398
Epoch 2/100
268/268 [==============================] - 0s 2ms/step - loss: 0.6003 - accuracy: 0.7048
Epoch 3/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5788 - accuracy: 0.7103
Epoch 4/100
268/268 [==============================] - 1s 2ms/step - loss: 0.5705 - accuracy: 0.7167
Epoch 5/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5651 - accuracy: 0.7201
Epoch 6/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5608 - accuracy: 0.7216
Epoch 7/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5585 - accuracy: 0.7224
Epoch 8/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5562 - accuracy: 0.7237
Epoch 9/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5543 - accuracy: 0.7238
Epoch 10/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5526 - accuracy: 0.7263
Epoch 11/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5515 - accuracy: 0.7275
Epoch 12/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5508 - accuracy: 0.7263
Epoch 13/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7272
Epoch 14/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5494 - accuracy: 0.7265
Epoch 15/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5485 - accuracy: 0.7282
Epoch 16/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5482 - accuracy: 0.7280
Epoch 17/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5477 - accuracy: 0.7292
Epoch 18/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5473 - accuracy: 0.7290
Epoch 19/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5473 - accuracy: 0.7280
Epoch 20/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5466 - accuracy: 0.7294
Epoch 21/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5463 - accuracy: 0.7285
Epoch 22/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5462 - accuracy: 0.7278
Epoch 23/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5453 - accuracy: 0.7287
Epoch 24/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5453 - accuracy: 0.7287
Epoch 25/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5449 - accuracy: 0.7290
Epoch 26/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5448 - accuracy: 0.7290
Epoch 27/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5445 - accuracy: 0.7307
Epoch 28/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5442 - accuracy: 0.7299
Epoch 29/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5438 - accuracy: 0.7292
Epoch 30/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5438 - accuracy: 0.7290
Epoch 31/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5433 - accuracy: 0.7299
Epoch 32/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5431 - accuracy: 0.7306
Epoch 33/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5434 - accuracy: 0.7327
Epoch 34/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5430 - accuracy: 0.7285
Epoch 35/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5427 - accuracy: 0.7317
Epoch 36/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5427 - accuracy: 0.7307
Epoch 37/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5427 - accuracy: 0.7285
Epoch 38/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5424 - accuracy: 0.7308
Epoch 39/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5425 - accuracy: 0.7293
Epoch 40/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5420 - accuracy: 0.7293
Epoch 41/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5417 - accuracy: 0.7308
Epoch 42/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5415 - accuracy: 0.7336
Epoch 43/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5417 - accuracy: 0.7322
Epoch 44/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5411 - accuracy: 0.7332
Epoch 45/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5414 - accuracy: 0.7324
Epoch 46/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5408 - accuracy: 0.7326
Epoch 47/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5410 - accuracy: 0.7320
Epoch 48/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5409 - accuracy: 0.7322
Epoch 49/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5408 - accuracy: 0.7331
Epoch 50/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5407 - accuracy: 0.7303
Epoch 51/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5407 - accuracy: 0.7324
Epoch 52/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5402 - accuracy: 0.7322
Epoch 53/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5402 - accuracy: 0.7319
Epoch 54/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.7326
Epoch 55/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5400 - accuracy: 0.7305
Epoch 56/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5404 - accuracy: 0.7324
Epoch 57/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5398 - accuracy: 0.7322
Epoch 58/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5397 - accuracy: 0.7327
Epoch 59/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5398 - accuracy: 0.7325
Epoch 60/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5397 - accuracy: 0.7328
Epoch 61/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.7333
Epoch 62/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5396 - accuracy: 0.7334
Epoch 63/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5394 - accuracy: 0.7327
Epoch 64/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5393 - accuracy: 0.7307
Epoch 65/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5396 - accuracy: 0.7331
Epoch 66/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.7334
Epoch 67/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5394 - accuracy: 0.7332
Epoch 68/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5389 - accuracy: 0.7319
Epoch 69/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5390 - accuracy: 0.7349
Epoch 70/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5392 - accuracy: 0.7340
Epoch 71/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5390 - accuracy: 0.7347
Epoch 72/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5389 - accuracy: 0.7354
Epoch 73/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.7325
Epoch 74/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5390 - accuracy: 0.7345
Epoch 75/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.7321
Epoch 76/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5389 - accuracy: 0.7335
Epoch 77/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5392 - accuracy: 0.7328
Epoch 78/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7333
Epoch 79/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7335
Epoch 80/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7347
Epoch 81/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5387 - accuracy: 0.7341
Epoch 82/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7333
Epoch 83/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5384 - accuracy: 0.7335
Epoch 84/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5381 - accuracy: 0.7324
Epoch 85/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5382 - accuracy: 0.7338
Epoch 86/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5380 - accuracy: 0.7353
Epoch 87/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7325
Epoch 88/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5380 - accuracy: 0.7346
Epoch 89/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5382 - accuracy: 0.7331
Epoch 90/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5381 - accuracy: 0.7348
Epoch 91/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5380 - accuracy: 0.7339
Epoch 92/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5377 - accuracy: 0.7345
Epoch 93/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5374 - accuracy: 0.7343
Epoch 94/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5375 - accuracy: 0.7350
Epoch 95/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5375 - accuracy: 0.7346
Epoch 96/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5373 - accuracy: 0.7332
Epoch 97/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5373 - accuracy: 0.7342
Epoch 98/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5373 - accuracy: 0.7333
Epoch 99/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5374 - accuracy: 0.7342
Epoch 100/100
268/268 [==============================] - 0s 2ms/step - loss: 0.5373 - accuracy: 0.7346

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 1s - loss: 0.5677 - accuracy: 0.7270 - 958ms/epoch - 1ms/step
Loss: 0.5677061080932617, Accuracy: 0.7270253300666809

In [16]:
# Export our model to HDF5 file
# from google.colab import files

# nn.save('AlphabetSoupCharity.h5')
# files.download('AlphabetSoupCharity.h5')

In [18]:
# Import new dependencies
import tensorflow as tf
from tensorflow import keras
import keras_tuner as kt

In [19]:
# Define number of input features (same as above)
number_input_features = len(X_train_scaled[0])

# Create a method that creates a new Sequential model with hyperparameter tuning
def create_model(hp):
  nn_model = tf.keras.models.Sequential()

  # Allow kerastuner to decide which activation function to use in hidden layers
  activation = hp.Choice('activation', ['relu', 'tanh'])

  # Allow kerastuner to decide number of neurons in first layer
  nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                                  min_value=1,
                                                  max_value=100,
                                                  step=5),
                                     activation=activation, input_dim=number_input_features))
  # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
  for i in range(hp.Int('num_layers', 1, 5)):
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                                    min_value=1,
                                                    max_value=40,
                                                    step=5),
                                       activation=activation))

  nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

  # Compile the model
  nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

  return nn_model

In [20]:
# Set up a tuner
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [21]:
# Use tuner to model a second trial
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [22]:
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'first_units': 6, 'num_layers': 5, 'units_0': 1, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'units_1': 1, 'units_2': 1, 'units_3': 1, 'units_4': 1, 'tuner/trial_id': '0015'}
{'activation': 'tanh', 'first_units': 66, 'num_layers': 2, 'units_0': 11, 'units_1': 6, 'units_2': 31, 'units_3': 16, 'units_4': 21, 'tuner/epochs': 7, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 76, 'num_layers': 1, 'units_0': 11, 'units_1': 16, 'units_2': 36, 'units_3': 6, 'units_4': 31, 'tuner/epochs': 7, 'tuner/initial_epoch': 3, 'tuner/bracket': 2, 'tuner/round': 1, 'tuner/trial_id': '0002'}

In [23]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 1s - loss: 0.5743 - accuracy: 0.7314 - 1s/epoch - 1ms/step
Loss: 0.5742523670196533, Accuracy: 0.7313792705535889

In [24]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity_Optimized.h5')
files.download('AlphabetSoupCharity_Optimized.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(