## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_val = application_df['CLASSIFICATION'].value_counts()
class_val

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_val_1 = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]
class_val_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_val[class_val<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop("IS_SUCCESSFUL", axis = 1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_test, X_train, y_test, y_train = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer1 = 8
hidden_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=input_features, units=hidden_layer1,activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 8)              │           432 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 5)              │            45 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 483 (1.89 KB)

 Trainable params: 483 (1.89 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 1s 368us/step - accuracy: 0.4983 - loss: 0.7116
Epoch 2/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.6355 - loss: 0.6437
Epoch 3/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - accuracy: 0.6763 - loss: 0.6092
Epoch 4/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 350us/step - accuracy: 0.7090 - loss: 0.5809
Epoch 5/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7224 - loss: 0.5750
Epoch 6/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 350us/step - accuracy: 0.7209 - loss: 0.5740
Epoch 7/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.7343 - loss: 0.5560
Epoch 8/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7252 - loss: 0.5599
Epoch 9/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 337us/step - accuracy: 0.7311 - loss: 0.5538
Epoch 10/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.7281 - loss: 0.5608
Epoch 11/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 334us/step - accuracy: 0.7264 - loss: 0.5576
Epoch 12/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 337us/step - accuracy: 0.7226 - loss: 0.5618
Epoch 13/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7216 - loss: 0.5616
Epoch 14/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 694us/step - accuracy: 0.7323 - loss: 0.5488
Epoch 15/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7217 - loss: 0.5634
Epoch 16/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7330 - loss: 0.5519
Epoch 17/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 744us/step - accuracy: 0.7349 - loss: 0.5456
Epoch 18/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.7248 - loss: 0.5542
Epoch 19/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.7228 - loss: 0.5561
Epoch 20/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 335us/step - accuracy: 0.7311 - loss: 0.5455
Epoch 21/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7291 - loss: 0.5475
Epoch 22/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 345us/step - accuracy: 0.7323 - loss: 0.5521
Epoch 23/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - accuracy: 0.7349 - loss: 0.5402
Epoch 24/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7327 - loss: 0.5412
Epoch 25/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7400 - loss: 0.5359
Epoch 26/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.7341 - loss: 0.5434
Epoch 27/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7344 - loss: 0.5418
Epoch 28/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.7278 - loss: 0.5533
Epoch 29/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.7329 - loss: 0.5417
Epoch 30/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7326 - loss: 0.5401
Epoch 31/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7358 - loss: 0.5438
Epoch 32/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7251 - loss: 0.5516
Epoch 33/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 339us/step - accuracy: 0.7332 - loss: 0.5469
Epoch 34/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 338us/step - accuracy: 0.7345 - loss: 0.5423
Epoch 35/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7299 - loss: 0.5517
Epoch 36/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7432 - loss: 0.5339
Epoch 37/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7381 - loss: 0.5408
Epoch 38/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.7356 - loss: 0.5383
Epoch 39/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 338us/step - accuracy: 0.7298 - loss: 0.5478
Epoch 40/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7296 - loss: 0.5440
Epoch 41/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7317 - loss: 0.5456
Epoch 42/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7246 - loss: 0.5507
Epoch 43/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7360 - loss: 0.5351
Epoch 44/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7392 - loss: 0.5411
Epoch 45/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7345 - loss: 0.5411
Epoch 46/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7364 - loss: 0.5386
Epoch 47/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7334 - loss: 0.5429
Epoch 48/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7421 - loss: 0.5349
Epoch 49/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - accuracy: 0.7364 - loss: 0.5379
Epoch 50/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7416 - loss: 0.5336
Epoch 51/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7400 - loss: 0.5386
Epoch 52/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7342 - loss: 0.5414
Epoch 53/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7357 - loss: 0.5343
Epoch 54/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7313 - loss: 0.5411
Epoch 55/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.7293 - loss: 0.5396
Epoch 56/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7416 - loss: 0.5389
Epoch 57/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7335 - loss: 0.5413
Epoch 58/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7319 - loss: 0.5444
Epoch 59/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7397 - loss: 0.5331
Epoch 60/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 337us/step - accuracy: 0.7361 - loss: 0.5321
Epoch 61/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7414 - loss: 0.5366
Epoch 62/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 385us/step - accuracy: 0.7439 - loss: 0.5315
Epoch 63/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7352 - loss: 0.5411
Epoch 64/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7373 - loss: 0.5379
Epoch 65/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7412 - loss: 0.5338
Epoch 66/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7379 - loss: 0.5320
Epoch 67/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7261 - loss: 0.5497
Epoch 68/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 342us/step - accuracy: 0.7300 - loss: 0.5456
Epoch 69/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 340us/step - accuracy: 0.7287 - loss: 0.5433
Epoch 70/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7377 - loss: 0.5339
Epoch 71/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 337us/step - accuracy: 0.7511 - loss: 0.5199
Epoch 72/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7405 - loss: 0.5261
Epoch 73/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - accuracy: 0.7306 - loss: 0.5354
Epoch 74/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7346 - loss: 0.5403
Epoch 75/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7302 - loss: 0.5415
Epoch 76/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7391 - loss: 0.5370
Epoch 77/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7351 - loss: 0.5368
Epoch 78/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7294 - loss: 0.5403
Epoch 79/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7388 - loss: 0.5344
Epoch 80/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7323 - loss: 0.5423
Epoch 81/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7422 - loss: 0.5279
Epoch 82/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7333 - loss: 0.5387
Epoch 83/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7407 - loss: 0.5321
Epoch 84/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.7342 - loss: 0.5391
Epoch 85/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7311 - loss: 0.5394
Epoch 86/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.7341 - loss: 0.5388
Epoch 87/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7324 - loss: 0.5381
Epoch 88/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7461 - loss: 0.5268
Epoch 89/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7320 - loss: 0.5406
Epoch 90/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7323 - loss: 0.5375
Epoch 91/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7375 - loss: 0.5348
Epoch 92/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7351 - loss: 0.5383
Epoch 93/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7313 - loss: 0.5418
Epoch 94/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7375 - loss: 0.5348
Epoch 95/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7369 - loss: 0.5304
Epoch 96/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7333 - loss: 0.5341
Epoch 97/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 388us/step - accuracy: 0.7414 - loss: 0.5312
Epoch 98/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7325 - loss: 0.5403
Epoch 99/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7324 - loss: 0.5398
Epoch 100/100
268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7347 - loss: 0.5366

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 0s - 319us/step - accuracy: 0.7250 - loss: 0.5629
Loss: 0.5629387497901917, Accuracy: 0.7250038981437683

In [19]:
# Export our model to HDF5 file
from google.colab import files 

nn.save('/HDF5_Files/AlphabetSoupCharity.h5')
files.download('/HDF5_Files/AlphabetSoupCharity.h3')

ModuleNotFoundError: No module named 'google.colab'

In [20]:
# Import new dependencies
import tensorflow as tf
from tensorflow import keras
import keras_tuner as kt

In [33]:
# Define number of input features (same as above)
number_input_features = len(X_train_scaled[0])

# Create a method that creates a new Sequential model with hyperparameter tuning
def create_model(hp):
  nn_model = tf.keras.models.Sequential()

  # Allow kerastuner to decide which activation function to use in hidden layers
  activation = hp.Choice('activation', ['relu', 'tanh'])

  # Allow kerastuner to decide number of neurons in first layer
  nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                                  min_value=1,
                                                  max_value=100,
                                                  step=5),
                                     activation=activation, input_dim=number_input_features))
  # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
  for i in range(hp.Int('num_layers', 1, 5)):
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                                    min_value=1,
                                                    max_value=40,
                                                    step=5),
                                       activation=activation))

  nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

  # Compile the model
  nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

  return nn_model

In [34]:
# Set up a tuner 
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [35]:
# Use tuner to model a second trial
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 56 Complete [00h 00m 08s]
val_accuracy: 0.7293577790260315

Best val_accuracy So Far: 0.7304074168205261
Total elapsed time: 00h 05m 29s

In [27]:
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 1, 'num_layers': 4, 'units_0': 11, 'tuner/epochs': 3, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0, 'units_1': 1, 'units_2': 1, 'units_3': 1}
{'activation': 'relu', 'first_units': 16, 'num_layers': 2, 'units_0': 21, 'units_1': 6, 'units_2': 21, 'units_3': 21, 'tuner/epochs': 3, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 16, 'num_layers': 2, 'units_0': 26, 'units_1': 6, 'units_2': 21, 'units_3': 1, 'tuner/epochs': 3, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0}

In [36]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 0s - 449us/step - accuracy: 0.7304 - loss: 0.5565
Loss: 0.5565310120582581, Accuracy: 0.7304074168205261

In [ ]:
# Export our model to HDF5 file
from google.colab import files 

nn.save('AlphabetSoupCharity_Optimized.h5')
files.download('AlphabetSoupCharity_Optimized.h5')